fastapi
uvicorn[standard]
sqlmodel
pydantic-settings
python-dotenv
passlib
argon2-cffi
python-jose[cryptography]
python-multipart
email-validator
stripe
resend
alembic
psycopg2-binary
# dev / test
pytest
pytest-asyncio
httpx
ruff
